.cm-s-panda-syntax {
  background: #292A2B;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}
@media screen and (max-width: 640px) {

  .cm-s-panda-syntax {
    background: #292A2B;
    color: #ffffff;
    font-size: 11px;
    font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
  }

}

.cm-s-juejin {
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}
@media screen and (max-width: 640px) {

  .cm-s-juejin {
    background: #ffffff;
    color: #000000;
    font-size: 11px;
    font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
  }

}


/*光标*/
.cm-s-panda-syntax .CodeMirror-cursor {
  border-color: #ffffff;
}
.cm-s-juejin .CodeMirror-cursor {
  border-color: #000000;
}


/*背景*/
.cm-s-panda-syntax .CodeMirror-activeline-background {
  background: rgba(99, 123, 156, 0.1);
}

.cm-s-juejin .CodeMirror-activeline-background {
  background: rgba(99, 123, 156, 0.1);
}


/*选中*/
.cm-s-panda-syntax .CodeMirror-selected {
  background: rgb(90, 89, 89);
}

.cm-s-juejin .CodeMirror-selected {
  background: rgb(223, 223, 223);
}


/*行号和边栏*/
.cm-s-panda-syntax .CodeMirror-gutters {
  background: #292a2b;
  border-right-color: rgba(255, 255, 255, 0.1);
}
.cm-s-panda-syntax .CodeMirror-linenumber {
  color: #e6e6e6;
  opacity: 0.6;
}
.cm-s-juejin .CodeMirror-gutters {
  background: #f0f0f0;
  border-right-color: rgba(255, 255, 255, 0.1);
}
.cm-s-juejin .CodeMirror-linenumber {
  color: #292a2b;
  opacity: 0.6;
}


/*注释内容*/
.cm-s-panda-syntax .cm-comment {
  color: #a5a5a5;
}
.cm-s-juejin .cm-comment {
  color: #5c5c5c;
}


/*Linux命令*/
.cm-s-panda-syntax .cm-keyword {
  color: #0a97f5;
}
.cm-s-juejin .cm-keyword {
  color: #bb51b8;
}


/*符号*/
.cm-s-panda-syntax .cm-operator {
  color: #f3f3f3;
}
.cm-s-juejin .cm-operator {
  color: #000000;
}


/*数字*/
.cm-s-panda-syntax .cm-number {
  color: #FFB86C;
}
.cm-s-juejin .cm-number {
  color: #FFB86C;
}


/*变量*/
.cm-s-panda-syntax span.cm-def {
  color: #e7d675;
}
.cm-s-juejin span.cm-def {
  color: #1ba2f0;
}


/*变量的值*/
.cm-s-panda-syntax .cm-string,
.cm-s-panda-syntax span.cm-string,
.cm-s-panda-syntax span.cm-string-2 {
  color: #82db4f;
}
.cm-s-juejin .cm-string,
.cm-s-juejin span.cm-string,
.cm-s-juejin span.cm-string-2 {
  color: #009e9d;
}


/*标签*/
.cm-s-panda-syntax .cm-tag {
  color: #ff2c6d;
}
.cm-s-juejin .cm-tag {
  color: #ff2c6d;
}


/**/
.cm-s-panda-syntax .cm-meta {
  color: #8c70b3;
}
.cm-s-juejin .cm-meta {
  color: #8c70b3;
}


/**/
.cm-s-panda-syntax .cm-atom {
  color: #ff2c6d;
}
.cm-s-juejin .cm-atom {
  color: #ff2c6d;
}


/*数据*/
/*属性*/
/*单元*/
/*类型*/
.cm-s-panda-syntax .cm-variable,
.cm-s-panda-syntax .cm-variable-2,
.cm-s-panda-syntax .cm-variable-3,
.cm-s-panda-syntax .cm-attribute,
.cm-s-panda-syntax .cm-unit,
.cm-s-panda-syntax .cm-type {
  color: #ffb86c;
}
.cm-s-juejin .cm-variable,
.cm-s-juejin .cm-variable-2,
.cm-s-juejin .cm-variable-3,
.cm-s-juejin .cm-attribute,
.cm-s-juejin .cm-unit,
.cm-s-juejin .cm-type {
  color: #ffb86c;
}


/**/
.cm-s-panda-syntax .cm-def {
  color: #e6e6e6;
}
.cm-s-juejin .cm-def {
  color: #e6e6e6;
}


/**/
.cm-s-panda-syntax .cm-property {
  color: #f3f3f3;
}
.cm-s-juejin .cm-property {
  color: #f3f3f3;
}


/*匹配括号*/
.cm-s-panda-syntax .CodeMirror-matchingbracket {
  border-bottom: 1px dotted #19F9D8;
  padding-bottom: 2px;
  color: #e6e6e6;
}
.cm-s-juejin .CodeMirror-matchingbracket {
  border-bottom: 1px dotted #19F9D8;
  padding-bottom: 2px;
  color: #e6e6e6;
}




/*

diff页面

*/

.CodeMirror-merge {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}

.CodeMirror-merge .CodeMirror {
  height: 100%;
}
.CodeMirror-merge-2pane .CodeMirror-merge-pane {
  width: calc(50% - 15px);
}
.CodeMirror-merge-2pane .CodeMirror-merge-gap {
  width: 30px;
}
.CodeMirror-merge-2pane .CodeMirror-merge-scrolllock {
  display: none;
}
.CodeMirror-merge-pane-rightmost {
  position: static;
}

/* 对比工具差异处颜色 */
.CodeMirror-merge-r-chunk {
  background: #9D2932
}
.CodeMirror-merge-r-chunk-start {
  border-top: 1px solid #9D2932;
}
.CodeMirror-merge-r-chunk-end {
  border-bottom: 1px solid #9D2932;
}
.CodeMirror-merge-r-connect {
  fill: #ebdc5c;
  stroke: rgb(148, 238, 136);
  stroke-width: 1px;
}

/* 对比工具中间段 */
.cm-s-twilight.CodeMirror { background: #141414; color: #f7f7f7; }
.cm-s-twilight div.CodeMirror-selected { background: #323232; }
.cm-s-twilight .CodeMirror-line::selection, .cm-s-twilight .CodeMirror-line > span::selection, .cm-s-twilight .CodeMirror-line > span > span::selection { background: rgba(50, 50, 50, 0.99); }
.cm-s-twilight .CodeMirror-line::-moz-selection, .cm-s-twilight .CodeMirror-line > span::-moz-selection, .cm-s-twilight .CodeMirror-line > span > span::-moz-selection { background: rgba(50, 50, 50, 0.99); }
.cm-s-twilight .CodeMirror-gutters { background: #222; border-right: 1px solid #aaa; }
.cm-s-twilight .CodeMirror-guttermarker { color: white; }
.cm-s-twilight .CodeMirror-guttermarker-subtle { color: #aaa; }
.cm-s-twilight .CodeMirror-linenumber { color: #aaa; }
.cm-s-twilight .CodeMirror-cursor { border-left: 1px solid white; }
.cm-s-twilight .cm-keyword { color: #f9ee98; }
.cm-s-twilight .cm-atom { color: #FC0; }
.cm-s-twilight .cm-number { color:  #ca7841; }
.cm-s-twilight .cm-def { color: #8DA6CE; }
.cm-s-twilight span.cm-variable-2, .cm-s-twilight span.cm-tag { color: #607392; }
.cm-s-twilight span.cm-variable-3, .cm-s-twilight span.cm-def, .cm-s-twilight span.cm-type { color: #607392; }
.cm-s-twilight .cm-operator { color: #cda869; }
.cm-s-twilight .cm-comment { color:#777; font-style:italic; font-weight:normal; }
.cm-s-twilight .cm-string { color:#8f9d6a; font-style:italic; }
.cm-s-twilight .cm-string-2 { color:#bd6b18; }
.cm-s-twilight .cm-meta { background-color:#141414; color:#f7f7f7; }
.cm-s-twilight .cm-builtin { color: #cda869; }
.cm-s-twilight .cm-tag { color: #997643; }
.cm-s-twilight .cm-attribute { color: #d6bb6d; }
.cm-s-twilight .cm-header { color: #FF6400; }
.cm-s-twilight .cm-hr { color: #AEAEAE; }
.cm-s-twilight .cm-link { color:#ad9361; font-style:italic; text-decoration:none; }
.cm-s-twilight .cm-error { border-bottom: 1px solid red; }
.cm-s-twilight .CodeMirror-activeline-background { background: #27282E; }
.cm-s-twilight .CodeMirror-matchingbracket { outline:1px solid grey; color:white !important; }