body,
html {
    margin: 0;
    height: 0;
}

h1 {
    color: white;
    margin: 0 0 2px;
    font-size: 1.5rem;
    padding-right: 1rem;
}

h4 {
    margin-top: 0.5em;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
    color: #F0EFF4;
    z-index: 10;
}

.footer {
    color: rgb(209, 209, 209);
    left: 0px;
    bottom: 2%;
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-image: linear-gradient(30deg, #ef008f, #6ec3f4, #7038ff, #ffba27);
    z-index: -5;
}

.container p {
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.5em;
}

.container .right {
    top: 0px;
    left: 0px;
    position: absolute;
    float: left;
    width: 250px;
    height: 50px;
    border: 1px solid #F00;
}

.diffs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.diffs .new {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.diffs header * {
    display: inline-block;
    vertical-align: middle;
}

.diffs .compare-wrapper,
.diffs .wrapper {
    flex: 1 1 auto;
    position: relative;
}

.diffs .compare-wrapper #compare {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Auto-height fix */

.wrapper .CodeMirror {
    position: absolute;
    height: calc(100%);
    width: 100%
}

.mergely-column .CodeMirror {
    height: 100%;
}

.sources a {
    font-size: 1rem;
}

#qrcontainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    text-align: center;
    transition: all 0.3s;
}

#qrcontainer.hidden {
    opacity: 0;
    visibility: hidden;
}

#qrcontainer .qframe {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: #6D8A88 1px solid;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}

#qrcontainer .qframe #refresh_qrcode {
    width: 256px;
    height: 256px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 1rem;
    top: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrcontainer .qframe #refresh_qrcode.hidden {
    opacity: 0;
    visibility: hidden;
}

#qrcontainer .qframe #refresh_qrcode h3 {
    font-weight: normal;
}

#qrcontainer .qframe #refresh_qrcode .refresh {
    display: block;
    background: #e4393c;
    width: 80px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    opacity: 1;
    z-index: 19;
    color: #fbfbfb;
    text-decoration: none;
    cursor: pointer;
}

#qrcontainer .qframe .info {
    padding: 1rem 0 0 0;
}

#qrcontainer .qframe .qframe-close {
    font-size: 20px;
    color: #f00;
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    nav ul li a:link,
    nav ul li a:visited,
    nav ul li a:active {
        font-size: 0.75rem;
        padding: 0.5rem 0.5rem;
        margin: 0;

    }

    .container p {
        font-size: 0.75rem;
        margin: 0;
        line-height: 1.5em;
    }
}

.log-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 .5em;
}

@media (min-width: 992px) {
    .elk-app {
        height: 100%;
    }

    .elk-side {
        width: 20rem;
    }

    .elk-container,
    .elk-main,
    .elk-side {
        overflow-y: auto;
    }
}

.bg-light {
    background-color: #f8f9fa !important;
}

.left-list {
    overflow: auto;
    z-index: 100;
}

.text-dark {
    color: #343a40 !important;
}

.nav-link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

/* diff页面 */
.CodeMirror-merge {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

.CodeMirror-merge .CodeMirror {
    height: 100%;
}

.CodeMirror-merge-2pane .CodeMirror-merge-pane {
    width: calc(50% - 15px);
}

.CodeMirror-merge-2pane .CodeMirror-merge-gap {
    width: 30px;
}

.CodeMirror-merge-2pane .CodeMirror-merge-scrolllock {
    display: none;
}

.CodeMirror-merge-pane-rightmost {
    position: static;
}

/* 对比工具差异处颜色 */
.CodeMirror-merge-r-chunk {
    background: #9D2932
}

.CodeMirror-merge-r-chunk-start {
    border-top: 1px solid #9D2932;
}

.CodeMirror-merge-r-chunk-end {
    border-bottom: 1px solid #9D2932;
}

.CodeMirror-merge-r-connect {
    fill: #ebdc5c;
    stroke: rgb(148, 238, 136);
    stroke-width: 1px;
}

/* 手动执行脚本页面 */
.run-cmd-form {
    margin-top: 6px;
    margin-bottom: 6px;
}

.cmd-section {
    border-color: #1e90ff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #1e90ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #1e90ff;
}

.cmd-section input {
    color: white;
    width: 150px;
    height: 20px;
    background: #222922;
    transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #222922 1px solid;
    border-radius: 3px;
    outline: none;
}

.cmd-section input:focus {
    box-shadow: 0 0 10px #1e90ff;
    -webkit-box-shadow: 0 0 10px #1e90ff;
    -moz-box-shadow: 0 0 10px #1e90ff;
}

.btn {
    --hue: 190;
    position: fixed;
    padding: 3px 9px;
    font-size: 10px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: hsl(var(--hue), 100%, 41%);
    border: 1px solid transparent;
    outline: transparent;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: 0.25s;
    position: relative;
}

.btn:hover {
    background: hsl(var(--hue), 100%, 31%);
}

.btn-primary {
    --hue: 187;
}

.btn-ghost {
    color: hsl(var(--hue), 100%, 41%);
    background-color: #2772d3;
}

.btn-ghost:hover {
    color: white;
}

.btn-shine {
    color: rgb(230, 230, 230);
    transition: 0.5s;
}

.btn-shine::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #2e86fa, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
}

.btn-shine:hover {
    background: #2f7bf5;
    border: 1px solid #2f7bf5;
    box-shadow: 0 0 10px 0.5px #4a4a4a;
    transition: 0.5s;
}

.btn-shine:hover::before {
    transform: translateX(100%);
    transition: 0.8s;
}

.btn-shine:active {
    color: black;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

/* 白色按钮 */
.multi-button {
    padding: 1px 6px;
    border-radius: 50px;
    background: #fff;
    border: 0.5px solid rgba(146, 152, 176, 0.4);
    box-shadow: 0 0 10px rgba(146, 152, 176, 0.2), 4px 4px 10px rgba(146, 152, 176, 0.2);
    cursor: default;
}

.multi-button button {
    border: 0 solid transparent;
    background: transparent;
    padding: 1.5px 20px;
    margin: 0 -2px;
    color: #273043;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    outline: none;
    transition: background 0.2s ease-in-out;
}

.multi-button button:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.multi-button button:last-child {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.multi-button button div {
    position: absolute;
    top: -43px;
    left: calc(50% - 40px);
    width: 80px;
    font-size: 13px;
    color: #fff;
    background: rgba(20, 25, 36, 0.7);
    border-radius: 16px;
    line-height: 30px;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 0 5px rgba(39, 48, 68, 0.3), 1px 1px 5px rgba(39, 48, 68, 0.2);
    display: none;
    cursor: pointer;
    z-index: 999;
}

.multi-button button:hover {
    background: #f0f1f4;
}

.multi-button button:hover div {
    display: block;
    top: 40px;
    animation: tooltip-animation-normal 0.3s ease-out forwards;
}

.multi-button button:hover div.animate-right {
    animation: tooltip-animation-right 0.3s ease-out forwards;
}

.multi-button button:hover div.animate-left {
    animation: tooltip-animation-left 0.3s ease-out forwards;
}

.multi-button button:active {
    outline: none;
    background: #d6d8e1;
}

@keyframes tooltip-animation-right {
    0% {
        transform: translateX(-75px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes tooltip-animation-left {
    0% {
        transform: translateX(75px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes tooltip-animation-normal {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Checkbox */
.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.cbx:not(:last-child) {
    margin-right: 6px;
}

.cbx:hover {
    background: rgba(125, 100, 247, 0.06);
}

.cbx span {
    font-size: 14px;
    color: #F0EFF4;
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    transform: scale(1);
    border: 2px solid #c8ccd4;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 2px;
    left: 1px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.cbx:hover span:first-child {
    border-color: #7d64f7;
}

.inp-cbx:checked+.cbx span:first-child {
    background: #7d64f7;
    border-color: #7d64f7;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .cbx {
        width: 100%;
        margin-bottom: 4px;
        display: inline-block;
    }
}

@-moz-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    background: rgba(197, 197, 197, 0.3);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    cursor: pointer;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    background: rgba(197, 197, 197, 0.3);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    cursor: auto;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: rgba(235, 235, 235, 0.5);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    border: solid 2px transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: rgba(197, 197, 197, 0.3);
}